<div class="about-layout">
  <div class="parallax">
    <div class="parallax-content text-center">
      <h2>ABOUT ME</h2>
      <p>aspiring web beautifier</p>
    </div>
  </div>
  <div class="about-content flexbox">
    <div class="about-card about-flex-item">
      <div class="card-upper">
        <%= image_tag 'avatar.png', class: 'avatar' %>
        <p class="card-level">Design Cat</p>
        <h3 class="card-name">Cécile ALFRED</h3>
        <p class="card-city"><i class="fa fa-map-marker" aria-hidden="true"></i> London, UK</p>
        <p class="card-description">Former teacher abroad. Creative Daydreamer.</p>
      </div>
      <div class="card-btns">
        <a href="#" class="about-btn one-third"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#" class="about-btn one-third"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="#" class="about-btn one-third"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="about-txt about-flex-item">
      <div class="row">
        <div class="col-xs-6 txt-right">
          <p><span class="first-letter">F</span>ormer French teacher abroad, I have been living in England, South Korea and Japan.</p>
          <p>I love travelling, culture, art and all beautiful things. From the design of my powerpoints to coding web pages, the visual aspect always matter to me.</p>
        </div>
        <div class="col-xs-6 txt-left">
          <p>On this website, I intend not only to play around with some new front-end tricks but also display my work as a designer and front-end developer(check out the projects page!).</p>
          <p>I aim to code projects with great UX for users everywhere.</p>
        </div>
      </div>
    </div>
  </div>
</div>
