<div class="about-layout">
  <div class="parallax">
    <div class="parallax-content text-center">
      <h2>ABOUT ME</h2>
      <p>aspiring web beautifier</p>
    </div>
  </div>
  <div class="about-content flexbox">
    <div class="about-card about-flex-item slideInDown">
      <div class="card-upper">
        <%= image_tag 'avatar.png', class: 'avatar' %>
        <p class="card-level">Design Cat</p>
        <h3 class="card-name">Cécile ALFRED</h3>
        <p class="card-city"><i class="fa fa-map-marker" aria-hidden="true"></i> London, UK</p>
        <p class="card-description">Former teacher abroad. Creative Daydreamer.</p>
      </div>
      <div class="card-btns">
        <a href="https://www.linkedin.com/in/cecilealfred" class="about-btn one-third" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.github.com/SoundOfSun" class="about-btn one-third" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="https://www.twitter.com/mzlleFrance" class="about-btn one-third" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="about-txt about-flex-item">
      <div class="row">
        <div class="col-xs-6 txt-left">
          <p><span class="first-letter">F</span>ormer French teacher abroad, I have been living in England, South Korea and Japan.</p>
          <p>I love travelling, culture, art and all beautiful things. From the design of my powerpoints to coding web pages, the visual aspect always matter to me.</p>
        </div>
        <div class="col-xs-6">
          <p>On this website, I intend not only to play around with some new front-end tricks but also display my work as a designer and front-end developer(check out the projects page!).</p>
          <p>I aim to code projects with great UX for users everywhere.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-2">
    <div class="parallax-content text-center">
      <h2 class="margin-down">CHECK MY PROJECTS</h2>
      <%= link_to 'Click here', projects_path, class: 'btn btn-sof hvr-grow' %>
    </div>
  </div>
  <div class="about-footer">
    <div class="row">
      <a href="javascript:" class="floating scroll-center text-center" id="return-to-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
        <p id="scroll-text">BACK TO TOP</p>
      </a>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#return-to-top').click(function() {
    // When arrow is clicked
      $('body,html').animate({
          scrollTop : 0
      // Scroll to top of body
      }, 500);
    });
  <% end %>
<% end %>
