<div class="projects-layout">
  <div class="dev-projects">
    <div class="title-dev">
      <h2>coding projects</h2>
    </div>
  </div>
  <div class="teach-projects">
    <div class="title-teach">
      <h2>teaching projects</h2>
    </div>
  </div>
</div>
