// My button
.btn-sof {
  font-family: "Raleway", "Helvetica", "sans-serif";;
  background: $dark-blue;
  border-radius: 5px;
  text-decoration: none;
  color: $white;
  padding: 10px 15px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  opacity: 0.8;
  margin-top: 5px;

  &:hover, &:visited {
    text-decoration: none;
    opacity: 1;
    color: $white;
  }
}

// ABOUT button (card)
.about-btn {
  background: $dark-blue;
  color: $white;
  font-weight: 700;

  &:first-child {
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-bottom-right-radius: 5px;
  }

  &:hover, &:visited {
    color: $white;
  }

  i {
    font-size: 24px;

    &:hover {
      color: $light-grey;
      cursor: pointer;
    }
  }
}

// INDEX button
.btn-index {
  width: 80%;
  color: $dark-blue;
  text-decoration: none;
  padding: 10px 15px;
  background: $white;
  border-radius: 50px;
  border: 1px solid $light-grey;
  box-shadow: 1px 0px 3px rgba(0,0,0,0.2);

  &:hover {
    color: $light-grey;
    text-decoration: none;
  }

  &:link, &:active, &:visited, &:focus {
    color: $dark-blue;
    text-decoration: none;
  }
}
.btn-index-left {
  border-right: 1px solid $darker-grey;
}
