// ABOUT card
.about-card {
  background: white;
  max-width: 300px;
  padding-top: 30px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: -1px 15px 30px -12px black;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 5;
}
.about-content {
  background: $white;
}
.about-card.about-flex-item {
  margin-top: 0;
  margin-bottom: 0;
}
.card-level {
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
.card-name {
  font-size: 26px;
  color: $darker-grey;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 5px;
}
.card-city {
  i {
    color: $dark-blue;
  }
}
.card-description {
  padding: 20px 10px;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
